<!DOCTYPE html>
<html lang="en">
    <style>
        body{
background-color: rgb(255, 232, 98) !important;
        }
    </style>
  <%- include('partials/header'); -%>
  <body>
    <%- include('partials/navBar'); -%>
    <div class="container my-5" style="margin-top: 200px; width: 1000px; ">
      <div class="text-center my-3">
        <h1> The Best Prices for Your</h1>
        <p style="font-size: 20px; color: rgb(201, 41, 68);">Admin Plataform</p>
      </div>
<div style="text-align: center; background-color: lightslategray; " >
    <ul>
        <li style="list-style: none; margin-top: 10px!important;">Less Time</li>
        <li style="list-style: none; margin-top: 10px!important;">More Capacity</li>
        <li style="list-style: none; margin-top: 10px!important;">Most Cheapest</li>
        <li style="list-style: none; margin-top: 10px!important;">Comunity support</li>
    </ul>

</div>
    </div>
    <br><br><br>
    <div class="bg-dark"><%- include('./partials/footer'); -%></div>
  </body>
</html>